img{
  width: 150px;
  height: 200px;
  padding: 15px;
}

.name-one{
  position: relative;
  bottom: 300px;
  left: 40px;
}

.name-two{
  position: relative;
  bottom: 335px;
  left: 220px;
}

.name-three{
  position: relative;
  bottom: 365px;
  left: 400px;
}

.name-four{
  position: relative;
  bottom: 165px;
  left: 40px;
}

.name-five{
  position: relative;
  bottom: 200px;
  left: 220px;
}

.name-six{
  position: relative;
  bottom: 235px;
  left: 400px;
}
p{
  color: #fff;

}

.line{
  border: 2px solid black;
  width: 40px;
  
}
h3{
  margin: 0;
  padding-bottom: 10px;

}
